@mixin input-styling {
  width: 200px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow:#2c80619a;
  font-family: 'Times New Roman', Times, serif;
  font-size: 16px;
  margin: 10px;
}
.edit{
    display: flex;
    width:100%;
    height: auto;
    background-color: #2c8061;
    justify-content: center;
    padding: 10px;
  input[type="text"] {
 @include input-styling;
}
.add{
  @include input-styling;
  width:70px;
}
.delete{
  @include input-styling;
  width:auto;
}
  }
.table {
  display: flex;
  margin:auto;
//   height: 100vh;
// flex-direction: row;
  width: 100%;
  justify-content: center;
  align-items: center;
table {
  width: 800px;
  height: 700px;
th {
  padding: 10px;
  background-color: #04aa6d;
  color: white;
  font-family: 'Times New Roman', Times, serif;
}
td {
  padding: 10px;
  font-family: 'Times New Roman', Times, serif;
  font-size: 17px;
  border: 1px solid black;
}
}
}